= form_for(@user, url: user_session_path, method: :post) do |f|
  .form-group
    .col-lg-12
      .error.text-danger
      .input-group.input-icon
        %span.input-group-addon
          %i.fa.fa-envelope
        = f.email_field :email, class: 'form-control', placeholder: 'Email', autocomplete: :off
  .form-group
    .col-lg-12
      .input-group.input-icon
        %span.input-group-addon
          %i.fa.fa-key
        = f.password_field :password, class: 'form-control', placeholder: 'Password'
      %span.help-block.text-right
        = link_to 'Forgot password ?', new_user_password_path, data:{'no-push' => true}
  - if Devise.mappings[:user].rememberable?
    .form-group.mb0
      .col-lg-6.col-md-6.col-sm-6.col-xs-8
        .checkbox-custom
          = f.check_box :remember_me
          = f.label 'Remember me?', class: 'log-remember'
      .col-lg-6.col-md-6.col-sm-6.col-xs-4.mb25
        = submit_tag 'Login', class: 'btn btn-success pull-right', id: 'login_btn'
