.container
  .card.card-container
    = image_tag("//ssl.gstatic.com/accounts/ui/avatar_2x.png", class: 'profile-img-card', id: 'profile-img')
    %p#profile-name.profile-name-card
    = form_for(@user, url: user_session_path, method: :post, html:{class: 'form-signin'}) do |f|
      %span#reauth-email.reauth-email
      = f.email_field :email, class: 'form-control', id: 'inputEmail', placeholder: 'Email', autocomplete: :off
      = f.password_field :password, class: 'form-control', id: 'inputPassword', placeholder: 'Password'
      #remember.checkbox
        %label
          = f.check_box :remember_me
          Remember me
      = submit_tag 'Sign In', class: 'btn btn-lg btn-primary btn-block btn-signin'
    -#= link_to 'Forgot the password?', '#', class: 'forgot-password'

    %p{style:'margin-top: 10px;'}
      Don't have an account?
      = link_to 'Register', registration_path, class: 'forgot-password', style: 'margin-left: 10px'