.container
  .card.card-container
    = image_tag("//ssl.gstatic.com/accounts/ui/avatar_2x.png", class: 'profile-img-card', id: 'profile-img')
    %p#profile-name.profile-name-card
    = form_for(@user, url: user_registration_path, method: :post, html:{class: 'form-signin'}) do |f|
      %span#reauth-email.reauth-email
      = f.email_field :email, class: 'form-control', id: 'inputEmail', placeholder: 'Email', autocomplete: :off
      = f.password_field :password, class: 'form-control', id: 'inputPassword', placeholder: 'Password'
      = f.password_field :password_confirmation, class: 'form-control', id: 'inputPassword', autocomplete: :off, placeholder: 'Password Confirmation'

      = submit_tag 'Sign Up', class: 'btn btn-lg btn-primary btn-block btn-signin'

    %p{style:'margin-top: 10px;'}
      Already have an account?
      = link_to 'Login', login_path, class: 'forgot-password', style: 'margin-left: 10px'
