!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %title SpaTemplate
    = stylesheet_link_tag    'auth', media: 'all'
    = javascript_include_tag 'auth'
    = csrf_meta_tags
  %body
    - flash.each do |key, value|
      .global-alert.col-md-6.col-md-offset-3{:style => "color: #FD3E58;"}
        %div
          = value
    = yield